# Python
__pycache__
*.pyc

# Jupyter
*.ipynb_checkpoints

# Pycharm
*.idea
*.git
*.venv

# Project
nohup.out
papers
logs
models
ax_botorch/unused
*.npz
*.pt

# Exceptions
!00000.npz
!00079.npz
!00100.npz
