# Python
__pycache__
*.pyc

# Jupyter
*.ipynb_checkpoints

# Pycharm
*.idea
*.git
*.venv

# Project
nohup.out
papers
logs
models
ax_botorch/unused
*.npz
*.pt
merge_tables.pickle

# Exceptions
!mean_log_score/00000.npz
!mean_log_score/00079.npz
!mean_log_score/00100.npz
